.container{
    margin-top: 200px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -5;
}
.container-2{
    margin-top: 670px;
    position: absolute;
    right: 0;
    left: 0;
}
.container-3{
    margin-top: 1150px;
    position: absolute;
    right: 0;
    left: 0;
}
.items{
    display: grid;
    grid-template-columns: 600px 250px;
    justify-content: center;
    align-items: center;
}
.time-image{
    width: 300px;
    height: 300px;
}
.left-section-2 span{
    color: #ff4646;
}
.text-mobile{
    display: none;
}
.icon-mobile{
    display: none;
}
.paragraph-mobile{
    display: none;
}